<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= full_title(@post) %></title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <a href="/">TOP</a>
    <h1><%= full_title(@post) %></h1>
    <div class="last-update">
      Last update: <%= @post['updated_at'] %>
    </div>
    <hr>
    <div class="content markdown">
      <%= to_html(@post['content']) %>
    </div>
    <hr>
    <% if @post['comments'] %>
      <div class="comments">
        <h3>Comments (<%= @post['comments'].size %>)</h3>
        <ul>
          <% @post['comments'].each do |comment| %>
            <li>
              <%= comment['created_by']['screen_name'] %> (<%= comment['created_at'] %>)

              <div class="comment markdown">
                <%= to_html comment['body_md'] %>
              </div>
          <% end %>
        </ul>
      </div>
    <% end %>
  </body>
</html>
